# Dates

Course of action decided upon from the previous file

* break up the "contract" col into "contract_start" and "contract_end" columns
* loan start and end years will be gotten from the "joined" and "loan_date_end" col respectively.
* all free values will be recorded as nans for both start and end
drop joined col
* turn loan col to bool column

Columns of interest are the
1. contract column
2. joined column
3. loan_date_end column

In [1]:
# Imports

import numpy as np
import pandas as pd
import re

In [57]:
# Load last checkpoint data

fifa = pd.read_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_sun.csv")
fifa.head()

C:\Users\T. Barnes\AppData\Local\Temp\ipykernel_10512\436053788.py:3: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa = pd.read_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_sun.csv")

,id,name,longname,photourl,playerurl,nationality,age,ova,pot,club,...,a_w,d_w,ir,pac,sho,pas,dri,def,phy,hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,FC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,Juventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,Atlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,Manchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,Paris Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [58]:
# Make copy of loan dates for later

loan_copy = list(fifa.loan_date_end)

In [59]:
fifa.joined = pd.to_datetime(fifa.joined)
fifa.loan_date_end = pd.to_datetime(fifa.loan_date_end)

In [30]:
# Loop through columns for contract start and end years

contract_start = []
contract_end = []

for x, y, z in zip(fifa.contract, fifa.joined, fifa.loan_date_end):
    if "Free" in x:
        contract_start.append(float('nan'))
        contract_end.append(float('nan'))
    
    elif "Loan" in x:
        contract_start.append(y.year)
        contract_end.append(z.year)
        
    else:
        contract_start.append(x.split("~")[0].strip())
        contract_end.append(x.split("~")[1].strip())

In [72]:
# Get booleans for is_on_loan field

is_on_loan = [False if type(x) == float else True for x in loan_copy]

I have chosen to preserve only the years here for consistency, since that is the one record that is available for all relevant fields. Other date values (month, date) are missing in several rows

In [77]:
# Assign columns to dataframe

fifa['joined'] = contract_start
fifa['loan_date_end'] = contract_end
fifa['contract'] = is_on_loan

In [79]:
# Rename columns

fifa.rename(columns={'contract': "is_loan_player",
                    "joined": "contract_start",
                    "loan_date_end": "contract_end"},
           inplace=True)

I decided to repurpose existing columns instead of dropping and adding fresh ones.

In [83]:
fifa[['is_loan_player', 'contract_start', 'contract_end']].head(10)

   is_loan_player contract_start contract_end
0           False           2004         2021
1           False           2018         2022
2           False           2014         2023
3           False           2015         2023
4           False           2017         2022
5           False           2014         2023
6           False           2017         2023
7           False           2018         2024
8           False           2018         2022
9           False           2014         2022

## Checkpoint

In [85]:
fifa.to_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_mon.csv", index=False)

# To be continued...