# Positions

## positions
* Get unique positions to a list
* Ensure no errors in unique data.
* Loop through column to verify lack of variations.

## best_position
* Get unique positions
* Check to ensure error free data

In [1]:
# Imports

import pandas as pd
import numpy as np
import re

In [2]:
# Load from last checkpoint

fifa = pd.read_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_mon.csv")
fifa.head()

C:\Users\T. Barnes\AppData\Local\Temp\ipykernel_10624\1247594384.py:3: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa = pd.read_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_mon.csv")

,id,name,longname,photourl,playerurl,nationality,age,ova,pot,club,...,a_w,d_w,ir,pac,sho,pas,dri,def,phy,hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,FC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,Juventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,Atlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,Manchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,Paris Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [3]:
fifa[['positions', 'best_position']]

        positions best_position
0      RW, ST, CF            RW
1          ST, LW            ST
2              GK            GK
3         CAM, CM           CAM
4         LW, CAM            LW
...           ...           ...
18974          CB            CB
18975          CM           CAM
18976          CM           CAM
18977          RW            ST
18978      CB, LB            LB

[18979 rows x 2 columns]

In [4]:
positions = list(fifa.best_position.sort_values().unique())
positions

['CAM',
 'CB',
 'CDM',
 'CF',
 'CM',
 'GK',
 'LB',
 'LM',
 'LW',
 'LWB',
 'RB',
 'RM',
 'RW',
 'RWB',
 'ST']

No duplicates or mispellings in the above.

In [5]:
outliers = []

for x in fifa.positions:
    for y in x.split(","):
        if not(y.strip() in positions):
            outliers.append(y.strip())
            
len(outliers)

0

In [6]:
outliers

[]

This means that the columns all contain the correct values

## preferred_foot

* Same workflow as the above

In [7]:
feet = list(fifa.preferred_foot.sort_values().unique())
feet

['Left', 'Right']

In [8]:
# Extra check to make sure there are no rows with two values
# The below code will print the values of any such rows

for x in fifa.preferred_foot:
    if len(x.split(" ")) > 1:
        print(x)

No output, therefore I can conclude that all is well

## height, weight

* remove units from values and add to col name
* convert to ints

In [9]:
# Take a look at target cols

fifa[['height', 'weight']]

      height weight
0      170cm   72kg
1      187cm   83kg
2      188cm   87kg
3      181cm   70kg
4      175cm   68kg
...      ...    ...
18974  178cm   66kg
18975  175cm   65kg
18976  179cm   74kg
18977  175cm   69kg
18978  188cm   75kg

[18979 rows x 2 columns]

### height

In [10]:
# Check if there are any rows with a different unit of measurement

fifa[~fifa['height'].str.contains("cm")]['height']

793     6'2"
847     6'3"
848     6'5"
860    5'11"
861     6'4"
862     6'1"
863     6'0"
864     6'1"
865    5'11"
866     6'2"
867     6'0"
868     6'3"
869     6'0"
871    5'10"
872     5'9"
873    5'11"
874     5'6"
875     6'1"
876     6'0"
877     6'4"
878     5'7"
879     6'0"
880    5'11"
881    5'11"
883     6'0"
884    5'10"
885     6'3"
886     6'0"
887     5'4"
888    5'11"
889     5'9"
890     5'7"
891     6'0"
892    5'10"
893     6'2"
894     6'2"
895     6'3"
896     5'7"
897    5'10"
898     5'9"
Name: height, dtype: object

There are 40 rows where the height data is stored in feet and inches. Next steps:

* convert to inches (multiply feet by 12 and add to inches value)
* convert inches to cm

In [11]:
# Create cm and inch lists.
# inch * 2.54 = cm

inch = []
cm = []

inch = [str((int(x.split("'")[0]) * 12) + int(x.split("'")[1].replace("\"", ""))) for x in fifa[~fifa['height'].str.contains("cm")]['height']]
cm = [str(int(x) * 2.54) + 'cm' for x in inch]
len(cm)

40

Not the most readable code, but it works.

In [12]:
# Applying the code to the main column

fifa['height'] = [str(int(((int(x.split("'")[0]) * 12) + int(x.split("'")[1].replace("\"", ""))) * 2.54))\
                 if "cm" not in x else x for x in fifa.height]

In [13]:
fifa[~fifa['height'].str.contains("cm")]['height']

793    187
847    190
848    195
860    180
861    193
862    185
863    182
864    185
865    180
866    187
867    182
868    190
869    182
871    177
872    175
873    180
874    167
875    185
876    182
877    193
878    170
879    182
880    180
881    180
883    182
884    177
885    190
886    182
887    162
888    180
889    175
890    170
891    182
892    177
893    187
894    187
895    190
896    170
897    177
898    175
Name: height, dtype: object

It works. All that remains is to remove 'cm' from the values and change everything to int types

In [13]:
# This removes 'cm' and changes data type to int

fifa.height = [int(x.replace("cm", "")) for x in fifa.height]

In [14]:
fifa.height

0        170
1        187
2        188
3        181
4        175
        ...
18974    178
18975    175
18976    179
18977    175
18978    188
Name: height, Length: 18979, dtype: int64

### weight

In [16]:
# Check for rows with a different unit of measurement

fifa[~fifa.weight.str.contains("kg")]['weight']

793    183lbs
847    179lbs
848    183lbs
860    172lbs
861    196lbs
862    176lbs
863    185lbs
864    179lbs
865    170lbs
866    196lbs
867    172lbs
868    203lbs
869    183lbs
871    168lbs
872    161lbs
873    146lbs
874    130lbs
875    190lbs
876    172lbs
877    174lbs
878    148lbs
879    165lbs
880    172lbs
881    161lbs
883    159lbs
884    170lbs
885    192lbs
886    181lbs
887    139lbs
888    154lbs
889    168lbs
890    170lbs
891    165lbs
892    157lbs
893    159lbs
894    181lbs
895    179lbs
896    148lbs
897    170lbs
898    163lbs
Name: weight, dtype: object

We have some weights recorded in pounds. Quick converstion to kg and then I can change data types

In [15]:
# Convert pounds to kg
# lbs * 0.453592 = kg

fifa.weight = [str(int(int(x.replace("lbs", "")) * 0.453592)) if "kg" not in x else x for x in fifa.weight]
fifa[~fifa.weight.str.contains("kg")]['weight']

793    83
847    81
848    83
860    78
861    88
862    79
863    83
864    81
865    77
866    88
867    78
868    92
869    83
871    76
872    73
873    66
874    58
875    86
876    78
877    78
878    67
879    74
880    78
881    73
883    72
884    77
885    87
886    82
887    63
888    69
889    76
890    77
891    74
892    71
893    72
894    82
895    81
896    67
897    77
898    73
Name: weight, dtype: object

In [16]:
# Convert to int

fifa.weight = [int(x.replace("kg", "")) for x in fifa.weight]
fifa.weight

0        72
1        83
2        87
3        70
4        68
         ..
18974    66
18975    65
18976    74
18977    69
18978    75
Name: weight, Length: 18979, dtype: int64

### Change column headers

In [18]:
fifa.rename(columns={"weight": "weight_kg", "height": "height_cm"}, inplace=True)

In [19]:
fifa[['weight_kg', 'height_cm']]

       weight_kg  height_cm
0             72        170
1             83        187
2             87        188
3             70        181
4             68        175
...          ...        ...
18974         66        178
18975         65        175
18976         74        179
18977         69        175
18978         75        188

[18979 rows x 2 columns]

Success on all fronts!


# Checkpoint

In [20]:
fifa.to_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_wed.csv", index=False)

# Progress

Cleaned the following columns

* positions
* best_position
* preferred_foot
* height
* weight


## To be continued...