# The Money Columns

* wage
* release_clause
* value

In [1]:
# Imports

import pandas as pd
import numpy as np
import re

In [2]:
# Load data from last checkpoint

fifa = pd.read_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_wed.csv")
fifa.head()

C:\Users\T. Barnes\AppData\Local\Temp\ipykernel_17908\3167816903.py:3: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa = pd.read_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_wed.csv")

,id,name,longname,photourl,playerurl,nationality,age,ova,pot,club,...,a_w,d_w,ir,pac,sho,pas,dri,def,phy,hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,FC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,Juventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,Atlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,Manchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,Paris Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [3]:
# Inspect columns of interest

fifa[['wage', 'value', 'release_clause']]

        wage    value release_clause
0      €560K  €103.5M        €138.4M
1      €220K     €63M         €75.9M
2      €125K    €120M        €159.4M
3      €370K    €129M          €161M
4      €270K    €132M        €166.5M
...      ...      ...            ...
18974    €1K    €100K           €70K
18975   €500    €130K          €165K
18976   €500    €120K          €131K
18977    €2K    €100K           €88K
18978    €1K    €100K           €79K

[18979 rows x 3 columns]

## Wage

Remove € and multiply values containing K by 1000

In [4]:
# Remove €

fifa.wage = [x.replace("€", "") for x in fifa.wage]

In [7]:
# Multiply values
fifa.wage = [str(int(x.replace("K", "")) * 1000) if "K" in x else x for x in fifa.wage]

In [8]:
# Change data types to int

fifa.wage = [int(x) for x in fifa.wage]

## value

value contains both M and K values.

In [14]:
fifa[~fifa['value'].str.contains(re.compile("[MK]"))]['value']

289      €0
292      €0
369      €0
374      €0
375      €0
         ..
17220    €0
17343    €0
17659    €0
17661    €0
18205    €0
Name: value, Length: 248, dtype: object

The above output tells me that all values not containing M and K are 0

In [18]:
# Remove €

fifa.value = [x.replace("€", "") for x in fifa.value]

In [22]:
# Calculate full values

fifa.value = [str(int(float(x.replace("M", "")) * 1000000)) if "M" in x else str(int(float(x.replace("K", "")) * 1000)) for x in fifa.value]

In [23]:
# Convert to int

fifa.value = [int(x) for x in fifa.value]

### release_clause

Should get the exact same treatment as the values col

In [28]:
fifa[~fifa['release_clause'].str.contains(re.compile("[KM]"))]['release_clause']

205      €0
248      €0
254      €0
289      €0
292      €0
         ..
18472    €0
18571    €0
18600    €0
18622    €0
18680    €0
Name: release_clause, Length: 1261, dtype: object

In [31]:
# Check for non zero values

for x in fifa[~fifa['release_clause'].str.contains(re.compile("[KM]"))]['release_clause']:
    if int(x.replace("€", "")) != 0:
        print(x)

The above tells me that like in the values col, all values not containing K or M are zero values

In [32]:
# Remove €

fifa.release_clause = [x.replace("€", "") for x in fifa.release_clause]

In [33]:
# Calculate full values

fifa.release_clause = [str(int(float(x.replace("M", "")) * 1000000)) if "M" in x else str(int(float(x.replace("K", "")) * 1000)) for x in fifa.release_clause]

In [34]:
# Convert to int

fifa.release_clause = [int(x) for x in fifa.release_clause]

### Success on all fronts


# Progress

Cleaned the following columns

* wage
* value
* release_clause



# Checkpoint

In [36]:
fifa.to_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_thor.csv", index=False)

# To be continued...